<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="shortcut icon"
      href="/views/favicon.svg"
      type="image/x-icon/svg"
    />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Est치s mirando la p치gina de inicio, navega a
      <a href="/cursos">/cursos</a>
      para ver la app web
    </p>
    <p>
      Est치s mirando la p치gina de inicio, navega a
      <a href="/profesores">/profesores</a>
      para ver la app web
    </p>
  </body>
</html>
